
:root {
    --primary-100: #f7fafc;
    --primary-200: #dae4f1;
    --primary-300: #e5ecf5;
    --primary-400: #cbd5e0;
    --primary-500: #a0aec0;
    --primary-600: #728297;
    --primary-700: #4a5668;
    --primary-800: #363e49;
    --primary-900: #1a202c;
    --secondary-100: #ebf4ff;
    --secondary-200: #c3dafe;
    --secondary-300: #a3bffa;
    --secondary-400: #7f9cf5;
    --secondary-500: #667eea;
    --secondary-600: #5a67d8;
    --secondary-700: #4c51bf;
    --secondary-800: #434190;
    --secondary-900: #3c366b;
    --tertiary-99: #fff;
    --tertiary-100: #edf2f7;
    --tertiary-200: #f1f4f9;
    --tertiary-300: #c5c9ce;
    --tertiary-400: #93989f;
    --tertiary-500: #adb5bd;
    --tertiary-600: #dee2e6;
    --tertiary-700: #495057;
    --tertiary-800: #343a40;
    --tertiary-900: #212529;
    --tertiary-999: #000;
    --specific-200: #805ad5;
    --specific-400: #e53e3e;
    --specific-600: #2c7a7b;
    --specific-800: #dd6b20;
    --specific-900: #d33d3d;
    --morandi-100: #e0ded7;
    --morandi-200: #d7d3d0;
    --morandi-300: #c2c0b3;
    --morandi-400: #939ea4;
    --morandi-500: #868686;
    --morandi-600: #97616c;
    --morandi-700: #566481;
    --morandi-800: #544f57;
    --morandi-900: #50595c;

    --primary-width: 1036px;
}