.container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1em;
  right: 1em;
}

.signout {
  margin-left: 1em;
}

.signout, .signin, .account {
  border-bottom: 1px solid #333;
  color: #333;
}

.signout, .signin {
  cursor: pointer;

  &:hover {
    border-bottom: 1px dashed #333;
  }
}

.account {
  cursor: default;
}
