.form-item {
  margin-bottom: 20px;
}
.form-item label {
  display: inline-block;
  width: 120px;
  text-align: right;
  margin-right: 15px;
}
.form-item input {
  width: 80%;
  height: 48px;
  font-size: 18px;
  color: #474444;
  box-sizing: border-box;
  padding: 0 10px;
}
.form-item button {
  width: 80%;
  height: 48px;
  font-size: 18px;
  color: #474444;
}
.form-item textarea {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
  color: #474444;
}