@import '../../common/common.scss';

.news {
    .news-table {
        .column {
            display: inline-block;
        }
        .header {
            background-color: $headerColor;

            .column {
                padding: 3px;
                vertical-align: middle;

                a {
                    padding-right: 5px;
                    text-decoration: none;
                    color: $titleColor;
                }
            }
            .title-column {
                width: 90%;
                .title {
                    font-weight: bold;
                }
            }
            .auth-column {
                float: right;
            }
            .icon {
                width: 16px;
            }
        }
        .row {
            background-color: $tableBackground;

            .column {
                padding: 5px;
                vertical-align: text-top;

                .news-item {
                    .inline {
                        display: inline-block;
                        padding-right: 5px;
                        vertical-align: text-top;

                        .upvote {
                            width: 10px;
                        }
                    }
                    .small-text {
                        font-size: 7pt;
                    }
                }
            }
        }
    }
}
