:root {
  --color-light-grey: rgb(238, 238, 238);
  --color-dark-grey: rgb(180, 180, 180);
  --color-dark-grey-transparent: rgba(170, 170, 170, 0.6);
  --color-grey: rgb(207, 207, 207);
  --color-blue: rgb(45, 114, 217);
  --color-red: #e66355;
  --color-orange: #f2a74f;
  --radius: 0.2em;
}

.layout {
  background-color: rgba(154, 154, 154, 0.7);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3em;
}

.form {
  background-color: white;
  margin-bottom: 1em;
  border: var(--radius) solid var(--color-light-grey);
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;

  & input {
    border: 0;
    font-size: inherit;
    border-bottom: 0.1em solid var(--color-dark-grey-transparent);
    line-height: 3em;
    text-indent: 0.3em;

    &::placeholder {
      color: var(--color-dark-grey);
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.button {
  background-color: var(--color-blue);
  border-radius: var(--radius);
  text-align: center;
  line-height: 3em;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
