body {
  margin: 0;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', SimHei, sans-serif;
  font-size: 12px;
}

input, input:focus, textarea, textarea:focus {
  outline: 0;
  border: 0;
}

:global(#root) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 60em;
  min-height: 40em;
}
