body {
  margin: 0;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', SimHei, sans-serif;
  font-size: 12px;
}

input {
  border: 0;
  font-size: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

:global(#root) {
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
