.panel {
    margin-top: 15px;
    border-radius: 4px;
    box-shadow: 0 0px 3px rgba(0,0,0,0.03);
    background: #fff;

    .header {
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        border-bottom: 1px solid #eee;
        font-weight: 700;
    }

    .body {
        min-height: 150px;
        padding-bottom: 30px;
    }
}