{
    "extends": [
        "react-app",
        "react-app/jest",
        "eslint:recommended",
        "google"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_",
                "caughtErrorsIgnorePattern": "^_"
            }
        ]
    }
}