{
    "extends": [
        "react-app",
        "react-app/jest",
        "eslint:recommended",
        "google"
    ],
    "rules": {
        "prefer-arrow-callback": "error",
        "arrow-body-style": [
            "error",
            "always"
        ],
        "@typescript-eslint/explicit-function-return-type": [
            "error"
        ],
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_",
                "varsIgnorePattern": "^_",
                "caughtErrorsIgnorePattern": "^_"
            }
        ],
        "sort-imports": [
            "error",
            {
                "ignoreCase": false,
                "ignoreDeclarationSort": false,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": [
                    "none",
                    "all",
                    "multiple",
                    "single"
                ],
                "allowSeparatedGroups": false
            }
        ],
        "@typescript-eslint/member-delimiter-style": [
            "warn",
            {
                "multiline": {
                    "delimiter": "semi",
                    "requireLast": true
                },
                "singleline": {
                    "delimiter": "semi",
                    "requireLast": false
                }
            }
        ]
    }
}