@import './globals';
@import './Spinner';
@import './vendor/firebaseui.css';
@import './overrides';

$header-height: 150px;

body {
  background: #eee;
}

main, footer, .header-content {
  padding: 0 10px;
}

.body-container {
  max-width: 700px;
  margin: 0 auto;
}

header {
  background: #fff;
  box-shadow: 0px -5px 10px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1;
  transition: 0.1s height;
  height: $header-height;
  width: 100%;
  top: 0;

  &.minimized {
    height: 50px;

    .title-and-logo {
      zoom: 50%;
    }
  }
}

main {
  padding-top: $header-height;
  padding-bottom: 1.5em;
}

.header-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  .title-and-logo {
    color: inherit;
    text-decoration: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    .logo {
      height: 70px;
      padding-right: 20px;
    }
  }
}

.talks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-talk-btn {
  font-size: 1.2em;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 1.2em;
  height: 1.2em;
  box-sizing: content-box;
  padding: 0.15em;
  cursor: pointer;

  &:hover {
    border-radius: 50%;
    background: #080;
    color: #fff;
  }
}

.talk {
  background: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  padding: 0 20px 5px 20px;

  &:not(.active) {
    cursor: pointer;
  }

  &.active {
    .header-row .votes {
      flex: 0 0 8em;
      display: flex;
      justify-content: space-between;

      .vote-btn {
        cursor: pointer;

        &.upvote {
          color: #080;
        }
        &.downvote {
          color: #d00;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .header-row {
    display: flex;
    align-items: center;

    h3 {
      flex: 0 1 100%;
    }

    .votes {
      flex: 0 0 5em;
      text-align: right;
      padding-left: 20px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-evenly;
}

.field-group {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;

  label {
    font-weight: bold;
  }

  textarea {
    height: 5em;
    font-family: inherit;
    resize: none;
  }

}

.log-in-or-out {
  padding: 0 0 0 20px;
}
