.login {
    margin-top: 30px;
    .captcha {
        input {
            width: 80px
        }
        img {
            cursor: pointer;
            height: 30px;
            border: 1px solid var(--primary-300);
            vertical-align: middle;
            margin-left: 48px;
            width: 100px;
            border-radius: 2px;
        }
    }
    .tip {
        margin-left: 120px;
        color: var(--tertiary-500);
        &:hover {
            color: var(--primary-600);
        }
    }
}

.guide {
    li {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 1.5;
        a {
            color: var(--primary-500);
            &:hover {
                color: var(--primary-600);
            }
        }
    }
}