node_modules/
yarn-error.log
.env
env.ts
coverage/
.DS_Store
dist
dist-ssr
*.local

**/.terraform/*

*.tfstate
*.tfstate.*

crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc