.customTitle {
    a {
        float: right;
        color: var(--secondary-500);
        font-weight: normal;
        &:hover {
            color: var(--secondary-600);
        }
        &.followed {
            font-size: 12px;
            color: var(--tertiary-500);
            &:hover {
                color: var(--tertiary-300);
            }
        }
    }
    .meta {
        color: var(--tertiary-500);
        font-size: 12px;
        font-weight: normal;
        .dot {
            margin: 0 7px;
        }
    }
}