.title {
    margin: 0;
}
.form {
    background: #f6f6ef;
    color: #828282;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 12px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-group label {
    width: 80px;
    text-align: right;
    padding: 8px;
}

.form-group input {
    width: 30vw;
    font-size: 12px;
}


.form a {
    text-decoration: none;
    color: #828282;
    margin: 4px 8px;
}

.form button {
    color: #828282;
    margin: 4px 8px;
}
