body {
  margin: 0;
  padding: 0;
}

.container {
  padding-bottom: 100px;

  .content {
    max-width: 1024px;
    margin: 0 auto;

    h1 {
      font-size: 22px;
      text-indent: 1.5em;
    }
  }
}