body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #F8F8F5;

  .content {
    max-width: 1024px;
    margin: 0 auto;

    h1 {
      font-size: 22px;
      text-indent: 1.5em;
    }
  }
}