.table {
  display: block;
  max-width: 780px;

  .item {
    position: relative;
    min-height: 100px;
    padding: 40px 8px 40px 8px;
    border-bottom: 1px solid #F0F0F0;

    .cover {
      display: inline-block;
      width: 180px;
      height: 120px;
      margin-left: 20px;
      background-size: cover;
      background-position: center;
      background-repeat:no-repeat;
      background-color: #F0F0F0;
    }

    .like {
      position: absolute;
      top: 10px;
      right: 30px;
      text-align: right;
      cursor: pointer;
      width: 36px;
      height: 14px;
      background: url("../images/like.png") no-repeat;
      background-size: contain;
    }

    .date {
      position: absolute;
      bottom: 15px;
      right: 30px;
      font-style: italic;
      font-size: 12px;
    }

    .detail {
      display: inline-block;
      max-width: 540px;
      margin-left: 20px;
      vertical-align: top;
      font-size: 14px;

      .speaker {
        height: 20px;
        line-height: 20px;
      }

      .speaker {
        height: 20px;
        line-height: 20px;
      }

      .title {
        height: 30px;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        color: black;
      }

      .title:hover {
        text-decoration: underline;
      }

    }
  }
}