body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #7110c5;
  align-items: center;
  justify-content: center;

  .app {
    position: relative;
    text-align: center;
    width: 380px;
    min-height: 200px;
    border-radius: 30px;
    box-shadow: 0px 0px 36px #000000;
    background-color: rgb(239, 239, 239);
    color: #000000;
  }
}