.container {
  width: 100vw;
  height: 100vh;

  .content {
    max-width: 720px;
    margin: 30px auto 0 auto;
    background-color: #F8F8F5;
    padding-top: 10px;
    padding-bottom: 80px;

    h1 {
      width: 80%;
      margin: 0 auto 20px auto;
      font-size: 21px;
      text-align: left;
    }

    label {
      display: block;
      width: 80%;
      margin: 5px auto;
      height: 30px;
      line-height: 30px;
      font-size: 15px;
      text-indent: 0.5em;
    }

    input,textarea {
      display: block;
      width: 80%;
      margin: 0 auto;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      text-indent: 0.5em;
      border: 1px solid #a7a7a7;
      border-radius: 4px;
      outline: none;
    }

    textarea {
      height: 120px;
    }

    button {
      display: block;
      width: 120px;
      height: 45px;
      padding: 0;
      margin: 15px auto;
      line-height: 45px;
      text-align: center;
      font-size: 17px;
      cursor: pointer;
      color: white;
      border: 1px solid white;
      border-radius: 4px;
      background-color: #0F6AB4;
    }

    h5 {
      width: 80%;
      margin: 10px auto 0 auto;
      color: #0F6AB4;
      font-size: 13px;
      text-align: center;
      cursor: pointer;
    }

    h5:hover {
      text-decoration: underline;
    }

  }
}