.container {
  padding-bottom: 100px;

  .content {
    max-width: 1024px;
    margin: 0 auto;

    h1 {
      font-size: 22px;
      text-indent: 1.5em;
    }

    button {
      display: block;
      width: 180px;
      height: 45px;
      margin-top: 30px;
      padding: 0;
      line-height: 45px;
      text-align: center;
      font-size: 17px;
      cursor: pointer;
      color: white;
      border: 1px solid white;
      border-radius: 4px;
      background-color: #0F6AB4;
    }


  }
}