.topics {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            height: 30px;
            line-height: 30px;
            background: var(--primary-300);
            color: var(--primary-700);
            border-radius: 15px;
            margin-bottom: 10px;
            transition: background 0.3s;
            &:first-child {
                margin-right: 10px;
            }
            & + li {
                margin-right: 10px;
            }
            a {
                display: block;
                padding: 0 15px;
            }
            &:hover {
                background: rgba(240, 240, 240, 0.7);
                background: var(--primary-200);
            }
        }
    }
}

.topics {
    padding: 10px;
}