html {
	body {
		font-family: Helvetica, sans-serif, Arial;

		// Buttons
		a.button {
			text-decoration: none;
			color: #000;
			background-color: #CCC;
			padding: 4px 8px;
			display: inline-block;
			border-radius: 2px;
			margin: 3px 6px;
			&:hover {
				background-color: #AAA;
			}
		}

		// Description of talk
		div.description {
			white-space: pre-line;
			margin-bottom: 1em;
		}

		// username of talk
		div.username {
			color: #008;
			font-style: italic;
		}
	}
}