<!DOCTYPE html>
<html>
  <head>
    <title>HackNews clone</title>
    <meta charset="utf-8">
    <meta name="keywords" content="Hacker, geek" />
    <meta name="description" content="A HackerNews clone" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src 'self' ; style-src 'self' 'unsafe-inline'; frame-src 'none';">
	  <link rel='styleSheet' href='/HN/public/build/chained.css' type="text/css" media=screen />
  </head>
  <body>
  <div id="main-content-wrapper"></div>
    <script src="/HN/public/build/bundle.js"></script>
  </body>
</html>
