.top-buffer {
  margin-top: 60px;
}

.center {
  margin: auto auto;
  text-align: center;
}

.the-table {
  table-layout: fixed;
  word-wrap: break-word;
}

.globalNotify {
  display: none;
  margin-bottom: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(18, 81, 135, 0.99);
  height: 40px;
  z-index: 999;

  p {
    color: white;
    font-weight: bold;
    line-height: 40px;
    padding-left: 15px;
  }
}