{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "Firefox ESR"
            }
        ], 
        "@babel/preset-react"
    ],
    "plugins": ["babel-plugin-styled-components"]
}