.talk {
  span {
    padding-right: 10px;
  }
  .index {
    width: 100px;
  }
  .title {
    width: 200px;
  }
  .description {
    width: 200px;
  }
  .like {
    width: 100px;
    cursor: pointer;
  }
}
