:global {
    .message {
        border: 1px solid #eee;
        padding: 5px 10px;
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        border-radius: 2px;
        animation-name: fade;
        animation-duration: 5s;
        opacity: 0;
    }
}
