.container {
  background-color: rgb(246, 246, 239);
  padding: 10px 0;
}

.itemWrapper {
  margin-bottom: 5px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  height: 19px;
  padding-left: 5px;
  font-size: 14px;
}

.itemContainer {
  padding: 5px;
}

.itemBtns {
  display: flex;
}

.indexWrapper {
  width: 35px;
  text-align: right;
}

.voteIconWrapper {
  width: 14px;
}

.voteArrow {
  width: 10px;
}

.btnContainer {
  height: 12px;
  padding-left: 19px;
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #828282;
}

.bar {
  padding: 0 5px;
}
