*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #ddd;
  padding: 25px 0;
}

h1 {
  text-align: center;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #82F9F9;
  &:hover {
    color: #037979;
  }
}

.main {
  max-width: 700px;
  margin: 0 auto;
}