.message {
  width: 400px;
  position: fixed;
  padding: 15px 5px;
  z-index: 99;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff7878;
  opacity: 0.9;
  color: #fff;
  text-align: center;
}