.form--submit {
  max-width: $main-width - 100px;
}

.submit.prompt {
  max-width: $main-width;
  margin: 0 auto;
  text-align: center;
  padding: 20px 5px;
  color: #555;
  p {
    font-size: 2em;
  }
  svg {
    width: 332px;
    height: 64px;
    fill: #f1f1f1;
    color: #f1f1f1;
  }
  button {
    border: none;
    border-radius: 5px;
    padding: 15px;
    background: $theme-color;
    color: #fff;
    &:hover {
      background: lighten($theme-color, 15%);
    }
  }
}