/*
 * Colors
 */
$color-primary: #333;
$color-light: #888;
$color-white: #fff;
$color-red: red;

/*
 * Font size
 */
$font-size: 14pt;
$font-size-lg: 1.25 * $font-size;
$font-size-xlg: 1.5 * $font-size;
$font-size-sm: 0.75 * $font-size;
$font-size-xsm: 0.5 * $font-size;

/*
 * Container size
 */
$container-size: 1024px;

/*
 * Inline image data
 */
 $like-icon-src: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M469.51 317c7.14-7.97 11.49-18.49 11.49-30 0-24.81-20.19-45-45-45h-87.34c8.65-26.25 12.34-61.08 12.34-76.01V151c0-33.08-26.92-60-60-60h-15c-6.88 0-12.88 4.68-14.55 11.36l-8.17 32.69c-11.45 45.78-47.8 96.29-85.42 105.47C171.27 223.84 155 212 136 212H46c-8.28 0-15 6.72-15 15v270c0 8.28 6.72 15 15 15h90c17.89 0 33.37-10.49 40.62-25.65l51.54 17.18c16.85 5.62 34.41 8.47 52.18 8.47H406c24.81 0 45-20.19 45-45 0-5.85-1.12-11.45-3.16-16.58C466.92 445.21 481 427.72 481 407c0-11.51-4.35-22.03-11.49-30 7.14-7.97 11.49-18.49 11.49-30s-4.35-22.03-11.49-30zM151 467c0 8.27-6.73 15-15 15H61V242h75c8.27 0 15 6.73 15 15v210zm255-135h30c8.27 0 15 6.73 15 15s-6.73 15-15 15h-30c-8.28 0-15 6.72-15 15 0 8.28 6.72 15 15 15h30c8.27 0 15 6.73 15 15s-6.73 15-15 15h-30c-8.28 0-15 6.72-15 15 0 8.28 6.72 15 15 15 8.27 0 15 6.73 15 15s-6.73 15-15 15H280.34c-14.54 0-28.91-2.33-42.7-6.93L181 456.19V270.58c23.53-4.47 46.56-19.37 67.35-43.76 20.3-23.82 36.76-55.4 44.03-84.49l5.33-21.33H301c16.54 0 30 13.46 30 30v14.99c0 20.14-6.3 58.77-14.36 76.01H286c-8.28 0-15 6.72-15 15 0 8.28 6.72 15 15 15h150c8.27 0 15 6.73 15 15s-6.73 15-15 15h-30c-8.28 0-15 6.72-15 15 0 8.28 6.72 15 15 15z'/%3E%3Ccircle cx='106' cy='437' r='15'/%3E%3Cpath d='M316 0c-8.284 0-15 6.716-15 15v31c0 8.284 6.716 15 15 15s15-6.716 15-15V15c0-8.284-6.716-15-15-15zM252.36 66.148l-21.213-21.213c-5.857-5.858-15.355-5.858-21.213 0-5.858 5.858-5.858 15.355 0 21.213l21.213 21.213c5.857 5.857 15.356 5.858 21.213 0 5.858-5.858 5.858-15.355 0-21.213zM422.066 44.935c-5.857-5.858-15.355-5.858-21.213 0L379.64 66.147c-5.858 5.858-5.858 15.355 0 21.213 5.857 5.858 15.355 5.859 21.213.001l21.213-21.213c5.858-5.858 5.858-15.355 0-21.213z'/%3E%3C/svg%3E";

 $liked-icon-src: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M481 332c0-16.5-13.5-30-30-30 16.5 0 30-13.5 30-30s-13.5-30-30-30H328.001C346.3 187.099 346 169.6 346 136c0-24.961-20.466-45-45-45h-9c-5.7 0-12.9 4.501-14.401 11.4-14.841 57.781-38.044 124.084-96.599 137.514v217.062l51.899 17.223c15.3 5.099 31.201 7.8 47.401 7.8H421c16.569.001 30-13.432 30-29.999 0-16.569-13.431-30-30-30h30c16.5 0 30-13.5 30-30s-13.5-30-30-30c16.5 0 30-13.5 30-30zM106 212H46c-8.291 0-15 6.709-15 15v270c0 8.291 6.709 15 15 15h60c24.814 0 45-20.186 45-45V257c0-24.814-20.186-45-45-45zm0 240c-8.284 0-15-6.716-15-15 0-8.286 6.716-15 15-15s15 6.714 15 15c0 8.284-6.716 15-15 15zM237.353 66.142l-21.211-21.211c-5.859-5.859-15.352-5.859-21.211 0-5.859 5.859-5.859 15.352 0 21.211l21.211 21.211c5.859 5.859 15.351 5.859 21.211 0 5.859-5.859 5.859-15.352 0-21.211zM407.069 44.931c-5.859-5.859-15.352-5.859-21.211 0l-21.211 21.211c-5.859 5.859-5.859 15.352 0 21.211 5.859 5.859 15.352 5.859 21.211 0l21.211-21.211c5.859-5.859 5.859-15.352 0-21.211zM301 0c-8.401 0-15 6.599-15 15v31c0 8.401 6.599 15 15 15s15-6.599 15-15V15c0-8.401-6.599-15-15-15z'/%3E%3C/svg%3E";