.post {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--primary-300);
    .avatar {
        font-size: 0;
        img {
            width: 48px;
            height: 48px;
            border-radius: 4px;
        }
    }
    .main {
        flex: 1;
        margin-left: 10px;
        .title {
            font-size: 16px;
            line-height: 24px;
            &:hover {
                color: var(--primary-600);
            }
        }
        .meta {
            margin-top: 6px;
            color: var(--tertiary-500);
            font-size: 12px;
            line-height: 18px;
            .dot {
                margin: 0 7px;
            }
            .user {
                font-weight: 500;
                color: var(--tertiary-400);
                &:hover {
                    color: var(--tertiary-500);
                }
            }
            .topic {
                color: var(--tertiary-400);
                display: inline-block;
                background: var(--tertiary-200);
                padding: 0 5px;
                height: 18px;
                line-height: 18px;
                border-radius: 4px;
                &:hover {
                    color: var(--tertiary-500);
                }
            }
        }
    }
    .stat {
        a {
            cursor: pointer;
            font-size: 12px;
            line-height: 20px;
            color: var(--tertiary-400);
            padding: 0 10px;
            background: var(--tertiary-200);
            border-radius: 12px;
            display: inline-block;
            &:hover {
                color: var(--tertiary-500);
            }
        }
    }

    &.PENDING {
        .title {
            color: var(--specific-400);
            &:hover {
                color: var(--specific-400);
            }
        }
    }
}

.reply {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--primary-300);
    .avatar {
        font-size: 0;
        img {
            width: 48px;
            height: 48px;
            border-radius: 4px;
        }
    }
    .main {
        margin-left: 10px;
        flex: 1;
        .meta {
            font-size: 12px;
            line-height: 18px;
            color: var(--tertiary-500);
            &>span+span {
                margin-left: 12px;
            }
            .user {
                font-weight: 600;
                color: var(--primary-600);
                line-height: 18px;
                &:hover {
                    color: var(--primary-500);
                }
            }
            .floor {
                float: right;
            }
            .stat {
                svg {
                    height: 15px;
                    vertical-align: middle;
                    position: relative;
                    top: -2px;
                    path {
                        fill: var(--specific-400);
                    }
                }
            }
        }
        .content {
            .parent {
                .refer {
                    color: var(--tertiary-500);
                    font-size: 12px;
                }
                color: var(--primary-600);
                background: var(--tertiary-200);
                padding: 8px;
                border-radius: 4px;
                margin-bottom: 6px;
                border: 1px solid var(--primary-300);
            }
            margin-top: 6px;
            font-size: 14px;
            line-height: 24px;
            white-space: pre-wrap;
            word-break: break-word;
        }
        .action {
            float: right;
            font-size: 12px;
            display: none;
        }
        .addReply {
            overflow: hidden;
            .inner {
                position: relative;
                padding-top: 8px;
                box-shadow: none;
                box-sizing: border-box;
                .triangle {
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-right: 8px solid transparent;
                    border-left: 8px solid transparent;
                    border-bottom: 8px solid var(--primary-300);
                    top: 0px;
                    right: 6px;
                    z-index: 10;
                }
    
                .body {
                    .editor {
                        border: 1px solid var(--primary-300);;
                        border-radius: 2px;
                    }
                }
                .footer {
                    padding: 0;
                    border-top: none;
                    height: 32px;
                    line-height: 32px;
                    color: var(--tertiary-400);
                    .error {
                        font-size: 12px;
                        color: var(--specific-400);
                    }
                    .submit {
                        float: right;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    &:hover {
        .action {
            display: block;
        }
    }

    &.PENDING {
        .content {
            color: var(--specific-400);
        }
    }
}