.user {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--primary-300);
    .avatar {
        font-size: 0;
        img {
            width: 48px;
            height: 48px;
            border-radius: 4px;
        }
    }
    .main {
        flex: 1;
        margin-left: 10px;
        font-size: 16px;
        line-height: 24px;
        &:hover {
            color: var(--primary-600);
        }
    }
    .stat {
        color: var(--tertiary-500);

        svg {
            height: 16px;
            vertical-align: middle;
            position: relative;
            top: -1px;
            path {
                fill: var(--specific-400);
            }
        }

        &+.stat {
            margin-left: 15px;
        }
    }
}