.button {
  background: none;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.filled-button {
  background: var(--primary-color);
  color: #ffffff;
}

.outline-button {
  color: #ffffff;
  border: 1px solid currentColor;
}
