.button {
  position: relative;

  background: none;
  border: none;
  color: inherit;
}

.button:hover {
  cursor: pointer;
}

.filled-button {
  background: var(--primary-color);
}

.outline-button {
  border: 1px solid currentColor;
}

.link-button {
  color: var(--primary-color);
}
