@import './basic.scss';
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";


body {
  font-family: $sans-serif-font;
  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;

  textarea {
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
    border: 0;
    background: #fff;
    width: 470px;
    height: 300px;
    padding: 12px 15px 12px 15px;
  }
  
  .submit-btn {
    margin: 30px 0 30px 0;
  }
}


header {
  width: 100%;
  margin: 0 auto;
  background: #434333;

  ul {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin: 0 20px 0 0;
      color: #fff;
      font-weight: $bold;
      cursor: pointer;
    }
  }
}


.submit-btn {
  background-color: #F25A38;
  width: 250px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  font-weight: $bold;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;

  &:focus {
    border: none;
    outline: none;
  }
}

.main-content {
  margin: 0;
  padding: 50px 0 0 0;
  background: rgb(246, 246, 239);
  min-height: 100vh;

  .subscribe-hint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .talk-list {
    color: #828282;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin: 0 0 20px 0;

      .title {
        display: flex;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
  
        i {
          margin: 0 8px 0 0;
        }
      }

      .sub-title {
        font-size: 14px;
        margin: 8px 0 0 0;
      }
    }
  }
  
}


@media (max-width: 992px) {
}



@media (max-width: 567px) {

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    margin: 0 auto;

    textarea {
      width: 250px;
    }
  }
  

  body {
    font-size: 14px;
  }

  .container {
    width: unset;
  }

}
