button {
  display: inline-block;
  border: none;
  background: #4867AA;
  color: #fff;
  margin: 5px 5px 0px 5px;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius:5px
}

button:hover {
  background: #666;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formItem{
  margin: 5px 5px 5px 5px;
}

.formInput{
  height: 30px;
  width: 300px;
}