.label-wapper{
  margin-bottom: 24px;
}
.talk-list-item{
  margin-bottom: 18px;
  height: 168px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 12px 24px;
  display: flex;
}
.item-poll-wapper{
  width: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.item-poll-wapper span {
  margin-top: 8px;
}

.content-wapper {
  padding-left: 12px;
}
.content-wapper .title{
    font-size: 24px;
    color: #000;
    margin-bottom: 8px;
}

.content-wapper .talk-content {
  height: 78px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient:vertical;
  line-height: 24px;
  margin-bottom: 4px;
}

.content-wapper .info span{
  font-size: 12px;
  margin-right: 24px; 
}

.empty-list h1 {
  color: #000;
  font-size: 36px;
  text-align: center;
  margin-bottom: 18px;
}

.empty-list a{
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 128px;
  height: 40px;
  padding: 6px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #13292b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
