$var: 10px;
$width: 1280px;
$body-bg: rgb(249,249,249);
$header-bg:#ffffffff;
$header-height: 55px;
$theme: rgb(17,47,131);
$noActiveNav:rgb(136,136,136);
$nav-width: 200px;
$footer-height: 52px;
$footer-bg:rgb(7,16,44);