{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "react/jsx-closing-bracket-location": ["error", "props-aligned"],
    "react/jsx-space-before-closing": 0,
    "jsx-a11y/img-has-alt": 0,
    "global-require": 0,
    "object-curly-spacing": 0,
    "comma-dangle": 0,
    "prefer-template": ["warn"],
    "import/no-unresolved": [2, { "ignore": ["weixinjs"] }]
  }
}