.logo {
  --logo-size: 32px;
  --color: #ffffff;
}

.logo-box {
  display: inline-block;

  box-sizing: content-box;
  height: var(--logo-size);
  width: var(--logo-size);
  line-height: var(--logo-size);

  color: var(--color);
  border: 2px solid currentColor;
  text-align: center;

  background: var(--primary-color);
}

.logo-content {
  font-size: calc(var(--logo-size) * 0.8);
  font-weight: bolder;
}
