.customTitle {
    a {
        float: right;
        color: var(--secondary-500);
        &:hover {
            color: var(--secondary-600);
        }
    }
    .meta {
        color: var(--tertiary-500);
        font-size: 12px;
        font-weight: normal;
        .dot {
            margin: 0 7px;
        }
    }
}