PORT=8000

BASE_PATH=/api

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=ltadmin
POSTGRES_PASSWORD=ltadmin
POSTGRES_DB=lightning-talks

ACCESS_SECRET="access secret key"
ACCESS_EXPIRES="30m"
REFRESH_SECRET="refresh secret key"
REFRESH_EXPIRES="1y"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
