$size-list: (
  xs: (
    0.75rem,
    1rem
  ),
  sm: (
    0.875rem,
    1.25rem
  ),
  md: (
    1rem,
    1.5rem
  ),
  lg: (
    1.125rem,
    1.75rem
  ),
  xl: (
    1.25rem,
    1.75rem
  ),
  2xl: (
    1.5rem,
    2rem
  ),
  3xl: (
    1.875rem,
    2.25rem
  ),
  4xl: (
    2.25rem,
    2.5rem
  ),
  5xl: (
    3rem,
    1
  ),
  6xl: (
    3.75rem,
    1
  )
);

@each $value, $keyNumber in $size-list {
  .text-#{nth($value, 1)} {
    font-size: nth($keyNumber, 1);
    line-height: nth($keyNumber, 2);
  }
}

@each $value in $opacity-list {
  .opacity-#{$value} {
    opacity: calc(#{$value}/ 100);
  }
}

.text-bold {
  font-weight: 700;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 500;
}

.underline {
  text-decoration: underline !important;
}

@media (max-width: 1024px) {
  .text-2xl {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .text-lg {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .text-md {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
