.card-text {
    overflow: auto;
    height: 80px;
}

.upVote {
    border: none;
    cursor: pointer;
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    background: #f57c00;
}

.upVote:hover {
    background-color: #e65100;
}

.upVote:focus {
    outline: 0;
}
.upVote:active {
    background-color: #f57c00;
    transform: translateY(1px);
}