.header {
    background: var(--tertiary-99);
    .inner {
        margin: 0 auto;
        display: flex;
        max-width: var(--primary-width);
    }

    .logo {
        font-size: 0;
        padding: 12px 0;
        img {
            height: 36px
        }
    }

    .search {
        padding: 14px 0;
        margin-left: 10px;
        input {
            height: 32px;
            line-height: 32px;
            background: var(--tertiary-200);
            border: none;
            outline: none;
            border-radius: 16px;
            width: 200px;
            padding: 0 16px;
            &:focus {
                background: var(--primary-300);
            }
        }
    }

    .middle {
        flex: 1;
    }

    .right {
        font-size: 14px;
        line-height: 60px;
        margin-left: 20px;
        a {
            padding: 0 10px;
        }
    }

    .message {
        position: relative;
        em {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(20%, -50%);
            transform-origin: 100% 0%;
            z-index: auto;
            min-width: 12px;
            height: 16px;
            padding: 0 4px;
            color: #fff;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            white-space: nowrap;
            text-align: center;
            background: #ff4d4f;
            border-radius: 10px;
            box-shadow: 0 0 0 1px #fff;
        }
    }

    .topics {
        border: 1px solid var(--primary-300);
        border-left: none;
        border-right: none;
        padding: 10px;
    }

    ul {
        display: flex;
        flex: 1;
        max-width: var(--primary-width);
        flex-wrap: wrap;
        li {
            margin-right: 10px;
            line-height: 30px;
            a {
                color: var(--secondary-600);;
                display: inline-block;
                padding: 0 5px;
                height: 24px;
                line-height: 24px;
                border-radius: 2px;
                transition: color 0.3s;
            }
            &:hover {
                a {
                    color: var(--secondary-500);
                }
            }
            &.selected {
                a {
                    color: var(--tertiary-99);
                    background: var(--secondary-600);
                }
            }
        }
    }

    .publish {
        border: 1px solid var(--primary-300);
        height: 28px;
        line-height: 28px;
        border-radius: 4px;
        padding: 0 7px;
        margin-left: 10px;
        svg {
            height: 12px;
            margin-right: 3px;
            position: relative;
            top: 2px;
        }
        &:hover {
            background: var(--primary-300);
        }
    }
}


@media screen and (max-width: 1036px) {
    .header {
        .logo {
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 640px) {
    .header {
        .logo {
            margin-left: 5px;
        }
        .search {
            display: none;
        }
    }
}