{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["airbnb"],
  "plugins": ["react"],
  "rules": {
    "quotes": [2, "single"],
    "import/no-unresolved": 0,
    "react/jsx-props-no-spreading": 0,
    "react/forbid-prop-types": 0,
    "linebreak-style": 0,
    "global-require": 0,
    "import/extensions": 0
  }
}