.talks-list-box {
  display: block;

  background: #ffffff;

  overflow: hidden;
}

.talks-list-item-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  margin: 12px 0;
}

.talks-item-order {
  flex: none;

  padding: 12px;
  box-sizing: border-box;
  width: 48px;
  text-align: center;
}

.talk-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: 8px 0;
}

.talk-vote-box {
  flex: none;

  margin-left: 8px;
}

.talk-vote-button {
  position: relative;

  box-sizing: border-box;
  height: 64px;
  width: 64px;

  padding: 16px 0;
  border-radius: 4px;
  color: var(--title-color);
  font-size: 20px;
  font-weight: 600;
}

.vote-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 7px);

  margin: 0 auto;

  box-sizing: border-box;
  height: 8px;
  width: 16px;
  border-top: #ffffff;
  border-right: 8px solid #ffffff;
  border-left: 8px solid #ffffff;
  border-bottom: 8px solid currentColor;

  background: currentColor;
  color: var(--paragraph-color);
}

.talk-vote-button.voted-button .vote-icon {
  display: none;
}

.vote-hint {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -4px);

  color: var(--paragraph-color);
  font-size: 10px;
}

.talk-info-box {
  flex: auto;

  margin-left: 16px;
}

.talk-title {
  margin: 0 0 4px;

  color: var(--title-color);
  font-size: 24px;
  font-weight: 600;
}

.talk-description {
  margin: 0;

  font-size: 16px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.talk-info {
  margin: 8px 0 0;
}

.info-item + .info-item {
  margin-left: 4px;
}
