.header-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  height: 100%;
  background: var(--primary-color);
  color: #ffffff;
}

.header-logo {
  display: block;

  width: var(--main-layout-header-height);
  text-align: center;
}

.header-title {
  margin: 0 0 0 16px;

  font-size: 26px;
  font-weight: 900;
}

.button-action {
  color: inherit;
  margin: 0 8px 0 auto;
}

.header-actions {
  margin: 0 16px 0 auto;
}

.header-actions .action + .action::before {
  content: '|';

  margin: 0 8px;
}
