.talk-card {
	display: flex;
	margin: .3rem;
	width: 90vw;
	height: fit-content;
	background-color: #D2BAB1;
	flex-direction: column;
	justify-content: flex-start;
	padding: 1rem;
  border-radius: 20px;
}

.talk-card h1 {
	font-size: 1.4rem;
	font-family: Verdana, Geneva, sans-serif;
	margin: .2rem 0 .2rem 0;
  color: black;
  font-weight: 900;
}

.talk-card h3 {
	font-size: .9rem;
	font-family: Verdana, Geneva, sans-serif;
	margin-bottom: .4rem 0 0 0;
  color: black;
  font-weight: 900;
}

.talk-card p {
	font-size: .8rem;
  font-weight: 600;
  color: #686868;
	font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}

.talk-card__button--not-voted {
	cursor: pointer;
	border: none;
	background-color: #288D00;
	color: white;
}

.talk-card__button--voted {
	cursor: pointer; 
	border: none;
	background-color:#DA1111;
	color: white;
}