.form_narrow {
  width: 480px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .form_narrow {
    width: 100%;
  }
}

.form-field {
  position: relative;
  padding: var(--padding);
  border-bottom: 1px solid var(--gray);
}

.form-field input {
  width: 100%;
  height: 32px;
}

.form-field textarea {
  width: 100%;
  height: calc(var(--font-size) * 1.4 * 10);
  resize: vertical;
}

.form-field label {
  position: absolute;
  left: calc(var(--padding) - 4px);
  top: var(--padding);
  height: 32px;
  padding: 0 4px;
  line-height: 32px;
  font-weight: 500;
  background-color: #fff;
  transition: transform .2s;
  transform-origin: 0 50%;
}

.form-field input:focus + label,
.form-field textarea:focus + label,
.form-field input[data-hasvalue=true] + label,
.form-field textarea[data-hasvalue=true] + label {
  transform: translateY(-100%) scale(1);
}

.form-action {
  padding: var(--more-padding) var(--padding);
  text-align: center;
}
