.talklist-header {
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-bottom: var(--border);
}

.talklist-h {
  flex: 1;
  font-size: var(--very-large-font-size);
  font-weight: 500;
}

.talklist-link {
  color: var(--interactive-font-color);
}

.talklist-user {
  position: sticky;
  bottom: 0px;
  padding: var(--padding);
  font-size: (--large-font-size);
  background: var(--content-background);
}

.talklist-user > a {
  color: var(--interactive-font-color);
}
