.talklist-header {
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-bottom: var(--border);
}

.talklist-h {
  flex: 1;
  font-size: var(--very-large-font-size);
  font-weight: 500;
}

.talklist-link {
  color: var(--interactive-font-color);
}

.talklist-empty {
  color: var(--light-font-color);
}

.talklist-end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  color: rgba(0, 0, 0, 0.1);
}

.talklist-end::before,
.talklist-end::after {
  content: "";
  display: block;
  width: 42px;
  margin: 0 var(--less-padding);
  border-top: 1px solid currentColor;
}

.talklist-user {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  padding: var(--padding);
  font-size: (--large-font-size);
  background: var(--content-background);
  border-top: 1px solid var(--gray);
}

.talklist-user > a {
  color: var(--interactive-font-color);
}

.talklist-username {
  font-weight: 500;
}

.talklist-user > button {
  margin-left: var(--padding);
}
