@import '../../common/common.scss';

.submit {
    .first-column {
       width: 100px;
    }
    .first-column-offset {
        margin-left: 110px;
    }
    .form-field {
        width: 300px;
    }
}
