<h1 class="my-4 pt-4">Create Lightning Talk</h1>
<form class="form-group" [formGroup]="createForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col">
      <label for="title">Title
        <span *ngIf="createForm.controls['title'].invalid" class="text-danger">
          <span *ngIf="createForm.controls['title'].errors.required">*</span>
        </span>
      </label>
      <input id="title" name="title" type="text" formControlName="title" class="form-control">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="description">Description
        <span *ngIf="createForm.controls['description'].invalid" class="text-danger">
          <span *ngIf="createForm.controls['description'].errors.required">*</span>
        </span>
      </label>
      <textarea id="description" name="description" type="text" formControlName="description" class="form-control"></textarea>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <label for="file">PowerPoint
        <span *ngIf="createForm.controls['file'].invalid" class="text-danger">
          <span *ngIf="createForm.controls['file'].errors.required">*</span>
        </span>
      </label>
      <input id="file" type="file" accept=".ppt,.pptx" name="file" formControlName="file" class="form-control" (change)="handleFileInput($event.target.files)">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <input [disabled]="!createForm.valid" class="btn btn-primary" type="submit" value="Submit">
    </div>
  </div>
</form>
