.app {
  padding: 10px;
  font-family: 'Helvetica Neue', 'Microsoft YaHei'
}
h1.app-title {
  font-size: 2em;
  text-align: center;
}

div.app-topic {
  padding: 10px;
  display: flex;
}

div.app-topic-holder {
  flex: 8;
}

div.app-topic-holder h2.app-topic-title {
  font-size: 1.5em;
  color: #303133;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

div.app-topic-holder h2.app-topic-title a {
  /* text-decoration: none; */
  color: inherit;
}

div.app-topic-holder p {
  margin: 5px 0 0 0;
  padding: 0;
}

div.app-topic-holder p.app-topic-desc {
  color: #606266;
}

div.app-topic-holder p.app-topic-username {
  font-size: 0.8em;
  color: #909399;
  font-style: italic;
}

div.app-topic-operation {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.app-topic-operation button {
  width: 50px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

div.app-topic-operation button:nth-child(1) {
  border-radius: 20px 20px 0px 0px;
}

div.app-topic-operation button:nth-child(1):hover {
  background-color: #67C23A;
}

div.app-topic-operation div.app-topic-score {
  padding: 2px;
  color: #909399;
}

div.app-topic-operation button:nth-child(3) {
  border-radius: 0px 0px 20px 20px;
}

div.app-topic-operation button:nth-child(3):hover {
  background-color: #F56C6C;
}