.editor {
    border: 1px solid var(--primary-300);
    min-height: 46px;
    .container {
        position: relative;
        padding: 10px;
        line-height: initial;
        .editor {
            resize: none;
            outline: none;
            box-sizing: border-box;
            width: 100%;
            line-height: 1.5;
            border: none;
            font-size: 14px;
            color: var(--primary-700);
            font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans SC,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        }
    }
}