.addTalkPanel {
    .addTalkForm {
        margin-top: 20px;
        input, textarea {
            width: 420px !important;
        }
        @media screen and (max-width: 960px) {
            input, textarea {
                width: 250px !important;
            }
          }
    }
 
}