:root {
  --primary-color: #9145f1;
  --primary-hover-color: #b67cff;
  --accent-color: #7b13ff;

  --title-color: #18121f;
  --sub-title-color: #656466;
  --paragraph-color: #989799;
  --hint-color: #b2b1b3;

  --error-color: #ff3838;
}
