openapi: '3.0.0'
info:
  version: 1.0.0
  title: Lightning Talk Polling API Specification
  license:
    name: MIT
servers:
  - url: https://talks-api.mindfine.com
paths:
  /talks:
    get:
      summary: List all lightning talks
      operationId: listTalks
      tags:
        - talks
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of talks
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Talks'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a talk
      operationId: createTalks
      tags:
        - talks
      responses:
        '201':
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /talks/{talkId}:
    get:
      summary: Info for a specific talk
      operationId: showTalkById
      tags:
        - talks
      parameters:
        - name: talkId
          in: path
          required: true
          description: The id of the talk to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Talk'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Talk:
      type: object
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
        ctime:
          type: long
    Talks:
      type: array
      items:
        $ref: '#/components/schemas/Talk'
    User:
      type: object
      required:
        - id
        - email
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        email:
          type: string
          format: email
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
