/* 
===============================================================
 Variables 
===============================================================
*/
:root {
  --primary-color: #ff0000;
  --secondary-color: #a5a1e8;
  --tertiary-color: #efc100;
  --large-screen-horizontal-padding: 5rem;
  --small-screen-horizontal-padding: 0.7rem;
  --vertical-space: 3rem;
  --title-font-size: 1.7rem;
  --paragraph-font-size: 1.15rem;
  --secondary-font-size: 1rem;
  --border-width: 0.15rem;
  --height-of-navbar-large-screen: 5rem;
  --height-of-navbar-small-screen: 3rem;
}

/* 
===============================================================
 Default styles
===============================================================
*/
body {
  min-height: 100vh;
  margin: 0;
  padding-top: 1rem;
  padding-left: var(--large-screen-horizontal-padding);
  padding-right: var(--large-screen-horizontal-padding);
  box-sizing: border-box;
  background-color: white;
  font-family: 'PT Sans Caption', sans-serif;
  overflow-x: hidden;
}

p {
  color: black;
  margin: 0;
}

/* 
===============================================================
 Template styles
===============================================================
*/
.template {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Make sure the footer always touch the bottom of the screen */
}

/* 
===============================================================
 Navbar styles
===============================================================
*/
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: var(--height-of-navbar-large-screen);
}

.navbar-container > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-logo {
  height: inherit;
}

/*
===============================================================
 Lightning talk card styles
===============================================================
*/
.lightning-talk-card-container {
  padding: 1.5rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: black;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #f7f7f7;
}

.lightning-talk-card-container > div {
  display: flex;
  justify-content: space-between;
}

.empty-list-iew-container {
  text-align: center;
}

/* 
===============================================================
 Input fields styles
===============================================================
*/
.input-field-container {
  display: flex;
  justify-content: center;
}

.input-field-container > div {
  width: 40%;
}

.input-field {
  width: 100%;
  border: 0.1rem solid black;
  padding: 1.2rem;
  font-size: var(--paragraph-font-size);
  overflow-x: hidden;
  box-sizing: border-box;
}

.input-field::placeholder {
  text-transform: capitalize;
  color: var(--secondary-color);
}

/* 
===============================================================
 Buttons styles
===============================================================
*/
.primary-button-container {
  display: flex;
  justify-content: center;
  padding-top: var(--vertical-space);
  padding-bottom: var(--vertical-space);
}

.primary-button {
  width: 13rem;
  height: var(--height-of-navbar-large-screen);
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-size: var(--title-font-size);
  text-transform: uppercase;
}

.primary-button:hover,
.primary-button:active {
  background-color: #fcf4f4;
}

.upvote-button-container {
  padding-left: 1.5rem;
}

.upvote-button-counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upvote-button-counter > p {
  font-size: var(--title-font-size);
  padding-left: 0.6rem;
  color: var(--primary-color);
}

.upvote-button {
  width: 15rem;
  height: 5rem;
  margin-top: 1.3rem;
  border-width: var(--border-width);
  border-style: solid;
  border-color: black;
  background-color: transparent;
  color: black;
  font-size: var(--title-font-size);
  text-transform: uppercase;
}

.upvote-button:hover,
.upvote-button:focus {
  background-color: #e2e0e0;
}

.unstyled-button-container {
  display: flex;
  justify-content: center;
}

.unstyled-button-container > div {
  width: 40%;
}

.unstyled-button {
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
  font-size: var(--paragraph-font-size);
  text-transform: uppercase;
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  float: right;
}

.navbar-sign-in-button {
  transform: scale(0.4);
  filter: invert(79%) sepia(14%) saturate(5463%) hue-rotate(195deg)
    brightness(96%) contrast(88%);
}

/* 
===============================================================
 Text styles
===============================================================
*/
.page-title-container {
  display: flex;
  justify-content: center;
}

.page-title-container > div {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  border: 0;
  border-bottom: 0.2rem solid var(--primary-color);
  margin-top: var(--vertical-space);
  margin-bottom: var(--vertical-space);
}

.page-title {
  font-size: var(--title-font-size);
  text-transform: capitalize;
}

.title {
  font-size: var(--title-font-size);
  font-weight: bold;
}

.title::first-letter {
  text-transform: uppercase;
}

.paragraph {
  font-size: var(--paragraph-font-size);
  line-height: 1.5;
}

.paragraph::first-letter {
  text-transform: uppercase;
}

.secondary-paragraph {
  font-size: var(--secondary-paragraph-font-size);
  color: var(--secondary-color);
}

.secondary-paragraph::first-letter {
  text-transform: uppercase;
}

.error-text {
  font-size: var(--secondary-paragraph-font-size);
  color: var(--tertiary-color);
  height: 1.5rem; /* To avoid layout shift  */
}

.error-text::first-letter {
  text-transform: uppercase;
}

/* 
===============================================================
 Loader styles
===============================================================
*/

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 2.2rem;
  height: 2.2rem;
  border: 0.2rem solid var(--primary-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  text-align: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 
===============================================================
 Footer styles
===============================================================
*/
.footer-container {
  height: 20rem;
  width: 100vw;
  margin-left: calc(var(--large-screen-horizontal-padding) * -1);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-logo {
  height: 6rem;
  filter: invert(62%) sepia(86%) saturate(376%) hue-rotate(202deg)
    brightness(94%) contrast(93%);
}

/* 
===============================================================
 Media Queries styles
===============================================================
*/
@media only screen and (max-width: 768px) {
  body {
    padding-top: var(--small-screen-horizontal-padding);
    padding-left: var(--small-screen-horizontal-padding);
    padding-right: var(--small-screen-horizontal-padding);
  }

  .navbar-container {
    height: var(--height-of-navbar-small-screen);
  }

  .navbar-container > div {
    display: flex;
    align-items: center;
  }

  .primary-button {
    width: 8rem;
    height: var(--height-of-navbar-small-screen);
    font-size: 1.2rem;
  }

  .navbar-sign-in-button {
    transform: scale(0.3);
    margin-right: -1.2rem;
  }

  .lightning-talk-card-container {
    padding: 0.6rem 0.6rem 2rem 0.6rem;
  }

  .lightning-talk-card-container > div {
    display: block;
  }

  .input-field-container > div {
    width: 95%;
  }

  .upvote-button-container {
    padding-left: 0rem;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .unstyled-button-container > div {
    width: 100%;
  }

  .secondary-paragraph {
    text-align: center;
  }

  .footer-container {
    margin-left: calc(var(--small-screen-horizontal-padding) * -1);
  }

  .sign-out-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    float: none;
  }
}
