/* 
===============================================================
 Variables 
===============================================================
*/
:root {
  --primary-color: #ff0000;
  --secondary-color: #b2b0ce;
  --large-screen-horizontal-padding: 5rem;
  --small-screen-horizontal-padding: 0.7rem;
}

/* 
===============================================================
 Default styles
===============================================================
*/
body {
  min-height: 100vh;
  margin: 0;
  padding-top: 1rem;
  padding-left: var(--large-screen-horizontal-padding);
  padding-right: var(--large-screen-horizontal-padding);
  box-sizing: border-box;
  font-family: 'PT Sans Caption', sans-serif;
  overflow-x: hidden;
}

p {
  color: black;
  margin: 0;
  padding: 0;
}

/* 
===============================================================
 Template styles
===============================================================
*/
.template {
  height: 100vh;
  position: relative;
}

/* 
===============================================================
 Navbar styles
===============================================================
*/
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 8rem;
}

.navbar-logo {
  height: inherit;
}

/* 
===============================================================
 Buttons styles
===============================================================
*/
.primary-button {
  width: 13rem;
  height: inherit;
  border-width: 0.3rem;
  border-style: solid;
  border-color: var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* 
===============================================================
 Text styles
===============================================================
*/
.page-title-container {
  display: flex;
  justify-content: center;
}

.page-title-container > div {
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 0.2rem solid var(--primary-color);
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.page-title {
  font-size: 2rem;
}

/* 
===============================================================
 Footer styles
===============================================================
*/
.footer-container {
  height: 20rem;
  width: 100vw;
  margin-left: calc(var(--large-screen-horizontal-padding) * -1);
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  height: 6rem;
  filter: invert(78%) sepia(22%) saturate(270%) hue-rotate(205deg)
    brightness(90%) contrast(85%);
}

.footer-container p {
  text-align: center;
  color: var(--secondary-color);
}

/* 
===============================================================
 Media Queries styles
===============================================================
*/
@media only screen and (max-width: 768px) {
  body {
    padding-top: var(--small-screen-horizontal-padding);
    padding-left: var(--small-screen-horizontal-padding);
    padding-right: var(--small-screen-horizontal-padding);
  }

  .navbar-container {
    height: 5rem;
  }

  .primary-button {
    width: 8rem;
    font-size: 1.5rem;
  }

  .footer-container {
    margin-left: calc(var(--small-screen-horizontal-padding) * -1);
  }
}
