@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400');

$primary-color: #FF5D73;
$text-color: #000000;
$text-color-light: #7C7A7A;
$error-color: #FF0000;
$success-color: #008148;
$btn-hover-color: lighten($primary-color, 5%);
