@import './_variables.sass';

.c-Form
  &__container
    max-width: 720px
    margin: 0 auto
    padding: 10px
  &__title
    font-size: 1rem
    margin: 0
  &__input-container
    position: relative
  &__input
    display: block
    width: 100%
    box-sizing: border-box
    border: 1px solid $text-color
    resize: none
    font-family: "Roboto Condensed", sans-serif
    font-size: .8rem
    padding: 3px
    border-radius: 0
    -webkit-appearance: none
    &:focus
      outline-color: lighten($text-color-light, 20%)
    &_error,
    &_error:focus
      outline: $error-color auto 5px
      outline-offset: -2px
  &__label
    display: block
    margin-top: 5px
    color: $text-color-light
  &__arrow
    position: absolute
    right: 10px
    top: 50%
    transform: translate(0, -50%)
    pointer-events: none
  &__btn-container
    text-align: right
  &__btn
    margin-top: 10px
  &__error-msg
    color: $error-color
    font-size: .7rem
    margin: 4px 0 0
