@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400");
.c-Form__container {
  max-width: 720px;
  margin: 0 auto;
  padding: 25px 10px; }

.c-Form__title {
  font-size: 1rem;
  margin: 0; }

.c-Form__input-container {
  position: relative; }

.c-Form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #afadad;
  resize: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: .9rem;
  padding: 10px 5px;
  border-radius: 0;
  -webkit-appearance: none;
  line-height: 1.2; }
  .c-Form__input:focus {
    outline-color: #afadad; }
  .c-Form__input_error, .c-Form__input_error:focus {
    outline: #ff6666 auto 5px;
    outline-offset: -2px;
    border-color: #FF0000; }

.c-Form__empty-option {
  display: none; }

.c-Form__label-container {
  margin: 20px 0 3px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.c-Form__max-length {
  color: #FF5D73;
  font-size: .9rem;
  font-style: italic; }

.c-Form__label {
  color: #c8c7c7;
  position: relative;
  bottom: -32px;
  left: 5px;
  z-index: 1;
  font-size: 1rem;
  transition: all .3s;
  pointer-events: none;
  font-weight: 300; }
  .c-Form__label_floated {
    bottom: 0;
    left: 0;
    font-size: .8rem;
    font-weight: 400;
    color: #7C7A7A; }

.c-Form__arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none; }

.c-Form__btn-container {
  text-align: right; }

.c-Form__btn {
  margin-top: 17px;
  padding: 10px;
  background-color: #FF5D73;
  border: 0; }

.c-Form__error-msg {
  color: #FF0000;
  font-size: .7rem;
  margin: 4px 0 0;
  position: absolute;
  bottom: -17px; }

.c-Form .react-datepicker-popper {
  z-index: 2; }
