@import './_variables.sass';

.c-Header
  background-color: $primary-color
  padding: 10px
  display: flex
  line-height: 1.5
  justify-content: space-between
  &__title
    margin: 0
    font-size: 1.3rem
  &__add-btn
    background-color: transparent
    font-size: 1rem
    border: 1px solid $text-color
    font-family: "Roboto Condensed", sans-serif
    &:focus
      outline: 0
      background-color: darken($primary-color, 10%)
