@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400");
.c-Header {
  background-color: #FF5D73;
  padding: 10px;
  display: flex;
  line-height: 1.5;
  justify-content: space-between;
  color: #ffffff; }
  .c-Header__title {
    margin: 0;
    font-size: 1.3rem; }
  .c-Header__add-btn {
    background-color: transparent;
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif; }
    .c-Header__add-btn:focus {
      outline: 0;
      background-color: #ff2a47; }
