@import './_variables.sass';

body
  margin: 0
  padding: 0
  font-family: "Roboto Condensed", sans-serif

a
  text-decoration: none
  color: inherit
  font-size: inherit

.c-btn
  background-color: transparent
  font-size: 1rem
  border: 1px solid rgba(255, 255, 255, .5)
  font-family: "Roboto Condensed", sans-serif
  padding: 3px 10px
  cursor: pointer
  color: #ffffff
  &:focus
    outline: 0
    background-color: transparent
  &:hover
    background-color: $btn-hover-color
