@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif; }

.c-btn {
  background-color: transparent;
  font-size: 1rem;
  border: 1px solid #000000;
  font-family: "Roboto Condensed", sans-serif; }
  .c-btn:focus {
    outline: 0;
    background-color: rgba(0, 0, 0, 0.2); }
