@import './_variables.sass';

.c-Talk
  padding: 10px 5px
  display: flex
  align-items: center
  &__rating
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 10px
    padding: 0 5px
  &__desc,
  &__user
    color: $text-color-light
    font-weight: 300
    font-style: italic
  &__desc
    padding: 0 10px
  &__user
    font-size: .8em
  &__btn
    height: 16px
    width: 16px
    background: url('../icons/like.svg') no-repeat center
    background-size: contain
    border: 0
