@mixin sr-only {
  /* per https://a11yproject.com/posts/how-to-hide-content/ */
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

$brand-primary: #000035;
$brand-highlight: #f0ff03;
