html
    padding: 2em 3em
    margin: 0 auto
    background-image: url('https://source.unsplash.com/NcdG9mK3PBY/1280x800')
    background-repeat: no-repeat
    background-size: cover

#app
    max-width: 960px
    margin: 0 auto
