// swal

[class^='swal-'] {
  animation: none !important;
  -webkit-animation: none !important;
}

.swal-modal {
  transition: 0.2s opacity;
}

// firebase

.firebaseui-card-content {
  padding: 0;
}

@media screen and (max-width: 500px){
  .firebaseui-idp-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;

    .firebaseui-idp-text {
      padding: 5px 0 0 0;
      text-align: center;
    }
  }

  .minimized .firebaseui-idp-text {
    @include sr-only;
  }
}

.minimized .firebaseui-idp-button {
  min-height: 0;
  min-width: 0;
}

// all vendor and other buttons, for consistency

button:not(.styled-link):not(.unstyled) {
  border-radius: 2px !important;
  border: none !important;
  font-weight: bold !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;

  padding: 10px 20px;

  cursor: pointer;

  &.swal-button, &:not([class]), &.submit-btn {
    color: #fff;
    background: $brand-primary;

    &:hover {
      background: $brand-primary !important;
      opacity: 0.85;
    }
  }

  &.cancel-btn {
    background: #ddd;
    color: #000;

    &:hover {
      opacity: 0.8;
    }
  }

  &:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(43,114,165,.29) !important;
    outline: none !important;
  }
}
