.topicSelect {
    position: relative;
    display: inline-block;
    input {
        color: var(--primary-700);
        height: 30px;
        line-height: 30px;
        border-radius: 2px;
        border: 1px solid var(--primary-300);
        padding: 0 10px;
        outline: none;
        width: 230px;
        box-sizing: border-box;
        &:focus {
            &+.list {
                display: block;
            }
        }
    }
    .list {
        position: absolute;
        left: 0;
        top: 29px;
        z-index: 10;
        width: 230px;
        background: var(--tertiary-200);
        padding: 5px 0;
        box-sizing: border-box;
        border-radius: 2px;
        display: none;
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid var(--primary-300);
        li {
            cursor: pointer;
            color: var(--primary-600);
            line-height: 28px;
            padding: 0 10px;
            &:hover {
                color: var(--primary-100);;
                background: var(--tertiary-400);
            }
        }
        &::-webkit-scrollbar {  
            width: 8px;  
            height: 8px;  
            background-color: #F5F5F5;  
        } 
        &::-webkit-scrollbar-track {  
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
            border-radius: 10px;  
            background-color: #F5F5F5;  
        }  
        &::-webkit-scrollbar-thumb {  
            border-radius: 10px;  
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
            background-color: #999;  
        }
    }
}

.add {
    padding: 10px;
    .topic {
        margin-bottom: 10px;
    }
    .title {
        margin-bottom: 10px;
        input {
            color: var(--primary-700);
            height: 30px;
            line-height: 30px;
            border-radius: 2px;
            border: 1px solid var(--primary-300);
            padding: 0 10px;
            outline: none;
            box-sizing: border-box;
            width: 100%;
        }
    }
    .content {
        margin-bottom: 10px;
    }
    .bottom {
        display: flex;
        .error {
            flex: 1;
            color: var(--specific-400);
        }
    }
}

.guide {
    li {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 1.5;
        a {
            color: var(--primary-500);
            &:hover {
                color: var(--primary-600);
            }
        }
    }
}